<h1 class="mt-4">Admin</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/admin_users">View Philanthropists</a>
<a href="/admin_organizations">View Organizations</a>
<a href="/approvals">Pending Organization approvals</a>

<a href="/logout" class="btn btn-secondary">Logout</a>