<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/organizationprofile.css">
    <title>Site Info</title>
</head>
<body>
    <div class="about-this-site">
        <h1>About this site</h1>
    </div>
    <div class="info-page">
  
    <div class="content">
        <p>Welcome. This platform helps donors, volunteers and any other person seeking
             to help Non-profit Organizations in one way or another, connect and hence find these organizations. 
             This platform is intended to be used only for the above reason so that it is easier and people interested can easily do so 
             without saturation of non-related content.
            We understand the challenges facing Non-Profit Organizations
            on other social media platforms where diverse types of content
            including non-important media gets more attention at the expense of philanthropy and charity.
            Furthermore, it's not that easy to find the said organizations by simply typing Non-profits or any other related
            term in the search engine. You might also encounter organizations that aren't relevant to you-for example- being a nurse,
            you might want to discover or volunteer in a clinic and so on, but you might come across an organization that is 
            not related to this. Our platform lets you filter organizations based on your interests. You might argue, 'Why not use hashtags to find specific types of organizations?'
            Well, lets face it, you've probably used other social media 
            platforms and typed a keyword or hashtag, only to find irrelevant content, maybe random people using
            popular or trending keywords, hashtags to gain followers or likes- yeah, we've all been there. Or a situation where the said organization has forgotten to include an important keyword or hash tag so as to be 
            associated with the said class of organization. Maybe one thing in your language
            has a completely different meaning in another language hence making it irrelevant and misleading. Such situations should spell doom for them 
            into oblivion.
            <br>
            This platform therefore eliminates all this hustle because you can be sure, you won't find things that are not important to you.
            You won't have to struggle so much to find what you're looking for. Everytime you think about the topic of philanthropy, charity, volunteering
            and so on, that's all you'll find here. Nothing else will take precedence here. Please not that this platform is mostly meant to assist small 
            organizations that are not well know - since they will be almost impossible to find. 
 </p>       
    </div>

</div>
    
    
</body>
</html>