<div>
    
  
    <div class="card">
        <h1>Comment sent successfully!</h1>
        <p><a href="/organizationprofilepage/<%=organization._id%>">Return to organization profile</a></p>
      </div>

  </div>