#header{
  height: fit-content;
  padding-bottom: 30px;
}


#topnav {

    overflow: hidden;
    background-color: #cc0000;
    color: white;
    top: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
    padding: 1em;
  }

  #topnav a{
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;

  }

  #topnav a:hover {
    background-color: #ddddddb0;
    color: black;
  }

  #topnav a.home {
    background-color: #ddd;
    color: black;
  }

  #searchWrapper{
    text-align: center;
    padding-bottom: 30px;
    width: 100%;
  }

  #input{
    width: 80%;
  }



#profile-cards-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

body{
  background: seashell;
}

.card{
  cursor: pointer;
  display: flex;
  background: white;
  flex-direction: column;
  width: 80%;
  text-align: center;
  height: auto;
  border-radius: 1rem;
  margin: 1.5rem;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}

.card:hover{
  transform: scale(1.1);
}

.cardText{
  margin: 0.5rem;
}

#description{
  width: 75%;
  height: 65px;
  text-align: center; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.avatar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
