.avatar{
    width: 200px;
    height: 200px;
    
}

.card{
    width: 900px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    


}

.main-profile-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(127, 208, 255);
    width: 100%;

}

.cardText{
  display: flex;
  align-items: center;
  flex-direction: column;


}

.comments-container{
  padding: 1%;
  margin: 2%;
} 

#map{
    width: 200px;
    height: 200px;
    float: right;

}

textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

form{
  width: 50%;
}


.about-this-site{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin: 2%;

}